{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ycngu - 温度，湿度，MQ2{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>数据图示</h1>
</div>
<div id="mycharts"  style="width:100%; height:400px;"></div>
{% endblock %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{url_for("static",filename="echarts.js")}}"></script>
    <script type="text/javascript">
    var mycharts = echarts.init(document.getElementById("mycharts"));
    mycharts.setOption({
        title:{
            text:"数据图示"
        },
        tooltip:{},
        legend:{
            data:["温度","湿度","烟雾浓度"]
        },
        xAxis:{
            data:[]
        },
        yAxis:{},    
        series:[
        {
            name:"温度",
            type:"line",
            data:[]   
        },
        {
            name:"湿度",
            type:"line",
            data:[]    
        },
        {
            name:"烟雾浓度",
            type:"line",
            data:[]    
        }
        ]
    });
    window.onresize = function(){
        mycharts.resize(); 
    };

mycharts.showLoading();

$.get("/data").done(function (data,status) {
    mycharts.hideLoading();
    mycharts.setOption({
        title:{
            text:"数据图示"
        },
        legend:{
            x:"center",
            y:"top",
            data:["温度","湿度","烟雾浓度"]
        },
        /*toolbox:{
            show:true,
            feature:{
                dataview:{readOnly:false},
                restore:{},
                saveAsImage:{}
            }
        },*/
        tooltip:{},
        xAxis:{
            type:"category", 
            splitLine:{
                show:true
            },
            showAllSymbol:true,
            data:data["time"]
        },
        yAxis:{
        },    
        dataZoom:[
            {
                type:'slider',
                show:true,
                xAxisIndex:[0],
                start:1,
                end:35
            },
            { 
                type:'slider',
                show:true,
                yAxisIndex:[0],
                left:'93%',
                start:1,
                end:100
            },
            {
                type:'inside',
                xAxisIndex:[0],
                start:1,
                end:35
            },
            {
                type:'inside',
                yAxisIndex:[0],
                start:1,
                end:100
            }    
        ],
        
        series:[
        {
            name:"温度",
            type:"line",
            /*itemStyle:{
                normal:{
                    label:{show:true}
                }
            },*/
            showAllSymbol:true,
            data:data["wendu"]    
        },
        {
            name:"湿度",
            type:"line",
            /*itemStyle:{
                normal:{
                    label:{show:true}
                }
            },*/
            showAllSymbol:true,
            data:data["shidu"]    
        },
        {
            name:"烟雾浓度",
            type:"line",
            /*itemStyle:{
                normal:{
                    label:{show:true}
                }
            },*/     
            showAllSymbol:true,
            data:data["MQ2"]    
        }
        ]
    });        
});
    </script>
{% endblock %}
