{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ycngu - 温度，湿度，MQ2{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>数据图示</h1>
</div>
<div id="mycharts"  style="width:100%; height:400px;"></div>
{% endblock %}
{% block scripts %}
    {{super()}}
    <script type='text/javascript' src='{{url_for('static',filename='echarts.js')}}'></script>
    <script type='text/javascript'>
    var mycharts = echarts.init(document.getElementById('mycharts'));
    mycharts.setOption({
        title:{
            text:'数据图示'
        },
        tooltip:{},
        legend:{
            data:['温度','湿度','烟雾浓度']
        },
        xAxis:{
            type:'time',
            data:[1,2,3,4,5,6,7,8,9]
        },
        yAxis:{},    
        series:[
        {
            name:'温度',
            type:'line',
            data:[3,5,6,7,4,6,8,7,9]   
        },
        {
            name:'湿度',
            type:'line',
            data:[2,3,4,5,6,7,8,9,4]    
        },
        {
            name:'烟雾浓度',
            type:'line',
            data:[4,4,4,4,4,4,4,4,4]    
        }
        ]
    });
    window.onresize = function(){
        mycharts.resize(); 
    };

/*
mycharts.showLoading();

$.get('data.json').done(function (data) {
    mycharts.hideLoading();
    mycharts.setOption({
        title:{
            text:'数据图示'
        },
        legend:{
            x:'left',
            y:'top',
            textStyle:{color:'blue'},
            data:['温度','湿度','烟雾浓度']
        },
        tooltip:{},
        xAxis:{
            type:'time',
            data:[1,2,3,4]
        },
        yAxis:{
            data:[1,2,3,4]
        },    
        series:[
        {
            name:'温度',
            type:'line',
            data:[1,2,3,4]    
        },
        {
            name:'湿度',
            type:'line',
            data:[1,2,3,4]    
        },
            {
                name:'烟雾浓度',
                type:'line',
                data:[1,2,3,4]    
            }
        ]
    });        
});
*/
    </script>
{% endblock %}
